.idea/
__MACOSX/
.idea/typescript-compiler.xml
.idea/watcherTasks.xml
.idea/workspace.xml
node_modules/are-we-there-yet/CHANGES.md~
node_modules/console-control-strings/README.md~
node_modules/in-publish/README.md~
node_modules/querystring/.History.md.un~
node_modules/querystring/.Readme.md.un~
node_modules/querystring/.package.json.un~
node_modules/querystring/test/.index.js.un~
src/.DS_Store
src/assets/.DS_Store
src/assets/img/.DS_Store
node_modules/